html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

header {
  display: flex;
  background-color: #fafafa;
  flex-direction: row;
  justify-content: space-around;
}

.other {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.logo .bluepart {
  color: #0aa5ed;
}

.logo .redpart {
  color: red;
}

.lista {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-right: 20px;
}

.lista a {
  text-decoration: none;
  padding-right: 1rem;
  color: black;
}

.lista #_1,
#_3,
#_4 {
  color: red;
}

.btn {
  background-color: red;
  align-items: center;
  padding-inline: 1rem;
  border-radius: 1rem;
}

.btn .contact,
.contact:hover {
  color: white;
  padding: 5px;
  cursor: pointer;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.intro .intro-img {
  display: flex;
  height: 250px;
}

.intro-info {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 2rem;
  width: 350px;
}
.intro-info-g {
  display: flex;
  flex-direction: row;
  padding-top: 5rem;
}
.intro-info h3 {
  color: red;
  font-size: small;
  font-weight: normal;
}
.intro-info h1 {
  margin-block: 0.5rem;
  color: black;
  font-size: xx-large;
}
.intro-info h4 {
  color: black;
  font-weight: normal;
  font-size: small;
}
.intro-text #digital {
  color: #0aa5ed;
}
.intro-text #seo {
  color: red;
}
.intro-text #blue {
  color: blue;
}

.center-img img {
  height: 400px;
}
.buttn {
  background-color: #0aa5ed;
  border-radius: 3rem;
  padding-inline: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttn p {
  background-color: rgb(255, 255, 255);
  color: red;
  align-items: center;
  margin: 0.5rem;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  border-radius: 2rem;
  margin-inline: 0;
}

#anabtn {
  background: 0;
  border: 0;
  outline: none;
  width: 80vw;
  max-width: 200px;
  font-size: 0.8em;
  color: rgb(255, 255, 255);
}
#anabtn::placeholder {
  color: white;
}

.info {
  display: flex;
  margin-top: 10rem;
  flex-direction: row;
  height: 680px;
  background-image: url(../images/about-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: center;
  padding-right: 18rem;
}

.info .infoimg {
  margin-left: 5rem;
  padding-top: 3rem;
  display: flex;
  align-items: flex-end;
}

.info .infodata {
  display: flex;
  padding: 2rem;
  width: 350px;
  height: 200px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.info .infodata .infodatatext {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
  margin-top: 1rem;
}

.datalogo {
  display: flex;
  height: 70%;
  justify-content: flex-end;
}
.datatext {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-inline: 1rem;
  padding-bottom: 1rem;
  color: white;
  font-size: x-small;
  justify-content: center;
  width: 60%;
}
.datatext span {
  font-size: medium;
  font-weight: bold;
}
.datatext div {
  display: flex;
  margin-bottom: 0.5rem;
}

.endpage {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 80px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.endpage .endpagetext {
  font-size: small;
  color: black;
}
.endpage .endpagetext span {
  color: red;
}

.infofooter {
  display: flex;
  flex-direction: row;
  height: 680px;
  padding: 5rem;
  background-image: url(../images/contact-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: center;
}

.infofootertext {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-inline: 1rem;
  padding-bottom: 1rem;
  color: white;
  justify-content: center;
  width: 28%;
}
#top {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 2rem;
}
#mid {
  font-size: xx-small;
  margin-bottom: 2rem;
}
#bottom {
  font-size: small;
  font-weight: bold;
}
#bottom span {
  font-size: xx-small;
  font-weight: normal;
}
.infofooterform {
  display: flex;
  flex-direction: row;
  
}
.infofooterform form {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #ffffff;
  z-index: 0;
}
.formdeco{
  display: flex;
  position: relative;
  left: -20px;
  top: 90px;
  z-index: 1;
}
.formdeco img{
  height: 80%;
}
.infofooterform form input {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  border: 0;
  outline: none;
}
.infofooterform form input::placeholder {
  color: rgb(92, 92, 92);
}
.formdiv {
  display: flex;
  flex-direction: row;
}
#GET-name,
#GET-surname {
  display: flex;
  background-color: rgb(194, 231, 253);
  border-radius: 2rem;
  width: 9rem;
  margin: 0.5rem;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
}

#GET-email {
  display: flex;
  flex-direction: row;
  background-color: rgb(194, 231, 253);
  border-radius: 2rem;
  margin: 0.5rem;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
}
#GET-message{
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  border: 0;
  outline: none;
  height: 50%;
  background-color: rgb(194, 231, 253);
  border-radius: 1rem;
  margin: 0.5rem;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
}
#GET-message::placeholder{
  align-items: flex-start;
}
input[type="submit"] {
  width: 8rem;
  background-color: #0aa5ed;
  color: rgb(255, 255, 255);
  align-items: center;
  margin: 0.5rem;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  border-radius: 2rem;
}
